


<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Wilson Guayanay 
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-card>
  <ion-card-header>
    <ion-card-title>Holaa</ion-card-title>
    <ion-card-subtitle>Pasante</ion-card-subtitle>
  </ion-card-header>

  <ion-card-content>
    En búsqueda de una pasantía que me brinde la oportunidad de aplicar y desarrollar
mis habilidades técnicas, trabajar en equipo y aprender de manera continua. Mi
objetivo es contribuir al logro de los objetivos organizacionales y adquirir experiencia
profesional en el campo, para enriquecer mi formación académica y respaldar mi
futura carrera.

  </ion-card-content>
</ion-card>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>

  <app-explore-container name="Tab 1 page"></app-explore-container>
</ion-content>
